.container {
    border: 1px solid black;
    border-radius: 15px;
    width: 45%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 35px;
}

form {
   padding-top: 30px;
}

label{
    font-family: Verdana;
}

input {
    font-size: 23px;
    width:68%;      
    height: 25px;
    margin: 10px 10px 15px 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: 0;
}

input[type=submit] {
    outline: 0;
    width: 40%;
    height: 35px;
    border-radius: 10px;
    font-family: Verdana;
    font-size: 20px;
    box-shadow: 1px 1px 5px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultado{
    background-color: rgba(211, 211, 211, 0.521);
}

img{
    margin-top: 100px;
}

button {
    outline: 0;
    width: 65%;
    height: 35px;
    border-radius: 10px;
    font-family: Verdana;
    background-color: darkgrey;
    font-size: 20px;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 20px;    
}